<section class="vh-100 section-container">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                                <form [formGroup]="miFormulario" (ngSubmit)="register()" autocomplete="off"
                                    class="mx-1 mx-md-4">

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="text" formControlName="name" id="form3Example1c"
                                                class="form-control" placeholder="Input your name">
                                            <span class="d-block form-text text-danger">{{ getError('name')}}</span>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="email" formControlName="email" id="form3Example3c"
                                                class="form-control" placeholder="Input your email">
                                            <span class="d-block form-text text-danger">
                                                {{ getError('email') }}
                                            </span>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="password" formControlName="password" id="form3Example4c"
                                                class="form-control" placeholder="Input your password">
                                            <span class="d-block form-text text-danger">
                                                {{ getError('password') }}
                                            </span>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="password" formControlName="repeat-password"
                                                id="form3Example4cd" class="form-control"
                                                placeholder="Input your repeat password">
                                            <span class="d-block form-text text-danger"
                                                *ngIf="miFormulario.controls['repeat-password'].touched && miFormulario.controls['repeat-password'].errors?.['required']">
                                                El repeat password es requerido
                                            </span>
                                            <span class="d-block form-text text-danger"
                                                *ngIf="miFormulario.controls['repeat-password'].touched && miFormulario.controls['repeat-password'].errors?.['minlength']">
                                                El repeat password debe tener como mínimo 6 caracteres
                                            </span>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                        <button type="submit" [disabled]="miFormulario.invalid"
                                            class="btn btn-primary btn-lg">Register</button>
                                    </div>

                                    <div class="text-center text-lg-start mt-4 pt-2">
                                        <p class="small fw-bold mt-2 pt-1 mb-0">
                                            Do have an account? <a [routerLink]="['/login']"
                                                class="link-success">Login</a>
                                        </p>
                                    </div>
                                </form>

                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                                <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-registration/draw1.png"
                                    class="img-fluid" alt="Sample image">
                            </div>
                        </div>
                        <pre>{{ miFormulario.value | json }}</pre>
                        <pre>{{ miFormulario.controls['password'].errors | json }}</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>